<script setup lang="ts">
const props = defineProps({
    characterPositionX: {
        type: Number,
        required: true,
    },
    characterPositionY: {
        type: Number,
        required: true,
    },
    characterClass: {
        type: String,
    },
    button: {
        type: String,
    },
    spike: {
        type: String,
    },
    caption: {
        type: String,
    },
})
</script>

<template>
    <div class="layout-platform-game">
        <span class="platform-game">
            <span class="block left"></span>
            <span class="block right"></span>
            <span class="death"></span>
            <span class="button" :class="props.button">Click!</span>
            <span class="spike" :class="props.spike"></span>
            <span class="exit"><span class="text">Exit</span></span>
            <span class="character-area"
                :style="`grid-row: ${props.characterPositionY}; grid-column: ${props.characterPositionX};`">
                <Character :state="props.characterClass" />
            </span>
            <slot />
            <p class="caption">{{ caption }}</p>
        </span>
    </div>
</template>

<style scoped>
.layout-platform-game {
    height: 100%;
}

.platform-game {
    height: 100%;

    position: relative;

    display: grid;
    aspect-ratio: 8 / 5;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        ". . . . d d d d"
        ". . . . d d d d"
        "c . . . . b s e"
        "l l l l . r r r"
        "l l l l h r r r"
    ;
    margin-inline: auto;

    background-color: hsl(225deg, 72.73%, 56.86%);

    .block {
        background-color: hsl(33.79deg, 56.86%, 20%);

        &.left {
            grid-area: l;
        }

        &.right {
            grid-area: r;
        }
    }

    .caption {
        grid-area: d;
        view-transition-name: d;

        padding: 2.5rem;
        font-size: 100%;
        text-align: right;
    }

    .character-area {
        grid-area: c;
        view-transition-name: c;

        color: black;
    }

    .death,
    .spike {
        background-image: url('/spike.svg');
        background-image: url('/spike.svg#svgView(preserveAspectRatio(none))');
        background-size: 100% 100%;
    }

    .death {
        grid-area: h;
    }

    .button,
    .spike {
        &:not(.show) {
            display: none;
        }
    }

    .button {
        grid-area: b;

        display: grid;
        align-items: end;
        justify-items: end;

        transform: rotate(-0.1turn);
    }

    .spike {
        grid-area: s;
    }

    .exit {
        grid-area: e;

        display: grid;
        grid-template-rows: 1fr 1fr;
        place-items: center;

        margin-inline: 1ch;
        background-image: url('/exit_arrow.svg');
        background-size: 100% 100%;
        background-clip: content-box;

        .text::after {
            content: " ";
            font-family: monospace;
        }
    }
}
</style>
