<link rel="alternate" type="application/ld+json" href="{{ path_to_root }}assets/git-gamble.json" />

<style>
    :root .menu-title {
        display: flex;
        justify-content: center;
        gap: 1ch;

        &::before {
            content: "";

            height: 100%;

            background-size: 90% 90%;
        }
    }

    :root .menu-title::before,
    .logo {
        aspect-ratio: 1;

        background-image: url({{ path_to_root }}assets/logo/git-gamble.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .logo {
        &.mini {
            height: 1lh;
            display: inline-block;
            vertical-align: middle;
        }

        &.big {
            height: 5lh;
        }

        &.front {
            background-image: url({{ path_to_root }}assets/logo/git-gamble.svg#front);
        }

        &.back {
            background-image: url({{ path_to_root }}assets/logo/git-gamble.svg#back);
        }
    }
</style>

<link rel="preload" as="script" href="https://cdn.jsdelivr.net/npm/mermaid@10.9.0/dist/mermaid.min.js"
    integrity="sha256-stuqcu2FrjYCXDOytWFA5SoUE/r3nkp6gTglzNSlavU=" crossorigin="anonymous" />
<script type="module" src="{{ path_to_root }}assets/mermaid.mjs" async></script>
