<template>
    <span class="tag"><slot></slot></span>
</template>

<style scoped>
.tag {
    color: var(--tag-color);

    &::after {
        content: " " var(--tag-icon);
        font-family: var(--slidev-code-font-family);
    }
}
</style>
