@font-face {
    font-family: "Futura Light Condensed";
    src: url("/Futura Light Condensed/Futura Light Condensed.otf");
}

.game-ui-font {
    font-family: "Futura Light Condensed", "Futura Condensed", "Helvetica", sans-serif;
    color: white;
    text-shadow:
        #8888 0em 0em 0.001em,
        #000 0.03em 0.03em 0.1em;
}
