.logo {
    aspect-ratio: 1;

    background-image: url(/logo.svg);
    background-repeat: no-repeat;
    background-position: center;

    &.front {
        background-image: url(/logo.svg#front);
    }

    &.back {
        background-image: url(/logo.svg#back);
    }

    &.mini {
        display: inline-block;
        height: 1lh;
        vertical-align: middle;
    }
}
